.navigation {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  width: 100%;

  &__button {
    cursor: pointer;

    &--undo {
      grid-column-start: 2;
    }

    &--settings {
      margin-left: auto;
    }
  }
}
