@use 'src/styles/variables' as variables;
@use 'src/styles/mixins' as mixins;

.winner-announcement {
  position: absolute;
  padding: 1rem;
  min-height: 50%;
  min-width: 70%;

  @include mixins.neumorphicContainer();

  &__overlay {
    background-color: variables.$main-bg;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__message {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
}
