@use "src/styles/utils/variables" as variables;

@mixin generate-circle($size) {
  display: block;
  width: $size;
  height: $size;
  border-radius: calc($size / 2);
}

@mixin neumorphic-container() {
  border-radius: 10px;
  background: variables.$main-bg;
  border: variables.$main-border;
  box-shadow: variables.$neumorphic-left-shadow, variables.$neumorphic-right-shadow;
}
