$circle-size: 80px;
$main-text-color: #090909;
$main-color: #e8e8e8;
$main-bg: $main-color;
$main-border: 1px solid $main-color;
$neumorphic-left-shadow: 6px 6px 12px #c5c5c5;
$neumorphic-right-shadow: -6px -6px 12px #fff;
$neumorphic-left-empty-shadow: 0 0 0 #c5c5c5;
$neumorphic-right-empty-shadow: 0 0 0 #fff;
$neumorphic-inset-left-shadow: inset -5px -5px 9px rgb(255 255 255 / 45%);
$neumorphic-inset-right-shadow: inset 5px 5px 9px rgb(94 104 121 / 30%);
$neumorphic-inset-left-empty-shadow: inset 0 0 0 rgb(255 255 255 / 45%);
$neumorphic-inset-right-empty-shadow: inset 0 0 0 rgb(94 104 121 / 30%);
$font-weight-normal: 400;
$font-weight-bold: 700;
