@import "https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap";
@import "./reset";
@import "styles/utils/helpers";
@import "styles/globals";

* {
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
