@use 'src/styles/variables' as variables;
@use 'src/styles/mixins' as mixins;

.settings {
  flex-direction: column;
  position: absolute;
  padding: 2rem 3rem 4rem;

  @include mixins.neumorphicContainer();

  &__overlay {
    background-color: variables.$main-bg;
  }

  &__title {
    font-size: 4rem;
    font-weight: variables.$font-weight-bold;
    margin: 0 0 3rem;
    letter-spacing: 5px;
    color: variables.$main-bg;
    text-shadow: variables.$neumorphic-left-shadow, variables.$neumorphic-right-shadow;
  }

  &__actions {
    display: flex;
    flex-direction: column;

    &__button {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
